body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1,
nav {
  text-align: center;
  padding-left: 50px;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

figure {
  width: 900px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

figcaption {
  font-size: small;
  text-align: center;
}

figure ~ p{
 text-align: center;
 margin: auto;
 width: 800px;
 padding-left: 50px;
}

div, p#details{
  float: left;
  width: 25%;
  text-align: center;
  background-color: red;

}


.row::after {
  content: "";
  display: table;
  clear: both;
}


